.nav-link {
    color: #FFFFFF !important;
}
/* Shadow class courtesy of https://tobiasahlin.com/blog/layered-smooth-box-shadows/
*/
.shadow {
  box-shadow: 0 2px 1px rgba(0,0,0,0.09),
              0 4px 2px rgba(0,0,0,0.09),
              0 8px 4px rgba(0,0,0,0.09),
              0 16px 8px rgba(0,0,0,0.09),
              0 32px 16px rgba(0,0,0,0.09);
}
/* Create a small amount of spacing between divs */

.div-spacing {
    margin-left: 100px;
    margin-right: 100px;
}

body {
    background-color: #374256;
}
hr {
    background-color: #ffc107;
}
nav a:hover {
    color: #ffc107 !important;
}

.color-yellow {
    color: #ffc107 !important;
}
.color-darkgray {
    color: #374256 !important;
    text : bold;
}
.no-border {
    border : 0px;
}

.gap {
    column-gap : 10px;
}